<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form action="" class="nos-form" id="login">
                <span>Seja bem vindo ao Nos!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required>
                </div>
                <div>
                    <input type="text" name="password" id="password" placeholder="Digite a sua senha" required>
                </div>
                <a href="/criar-usuario" style="display: flex; place-content: center; margin-bottom: 1em;">Clique
                    aqui para criar a sua
                    conta</a>
                <button type="submit" class="btn-nos">Login</button>
            </form>
        </div>
    </div>
</body>

</html>