<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form action="" class="nos-form" id="register">
                <span>Crie sua conta</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Digite o seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu nick" required="required">
                </div>
                <div>
                    <input type="text" name="password" id="password" placeholder="Digite a sua senha"
                        required="required">
                </div>
                <div>
                    <input type="text" name="confirm-password" id="confirm-password" placeholder="Confirme a sua senha"
                        required="required">
                </div>
                <a href="/login" class="a-redirect"
                    style="display: flex; place-content: center; margin-bottom: 1em;">Clique
                    aqui para fazer o Login</a>
                <button type="submit" class="btn-nos">Cadastrar</button>
            </form>
        </div>
    </div>
</body>

</html>